# Virtual Environments
.venv/
env/
venv/

# IDE / Editor files
.idea/
.vscode/

# Data files (don't commit downloaded zip or raw CSV datasets)
data/
datasets/
*.tgz
*.csv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
__pycache__/

# model
*.pkl